<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Libroservlet</servlet-name>
        <servlet-class>servlet.Libroservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaxd</servlet-name>
        <servlet-class>libroservlet.listaxd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroControl</servlet-name>
        <servlet-class>servlet.ListarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Libroslista</servlet-name>
        <servlet-class>Operaciones.Libroslista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lautor</servlet-name>
        <servlet-class>servlet.Lautor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibro</servlet-name>
        <servlet-class>servlet.AddLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BLXAutor</servlet-name>
        <servlet-class>servlet.BLXAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibro2</servlet-name>
        <servlet-class>servlet.AddLibro2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAutor</servlet-name>
        <servlet-class>servlet.AddAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoria</servlet-name>
        <servlet-class>servlet.AddCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCat</servlet-name>
        <servlet-class>servlet.ListaCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstudiante</servlet-name>
        <servlet-class>servlet.ListarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEstudiante</servlet-name>
        <servlet-class>servlet.AddEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTotal</servlet-name>
        <servlet-class>servlet.ListaTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletarCat</servlet-name>
        <servlet-class>servlet.CompletarCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEstudiante</servlet-name>
        <servlet-class>servlet.EditarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesRegistrosEstudiantes</servlet-name>
        <servlet-class>servlet.AccionesRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionsRegistro</servlet-name>
        <servlet-class>servlet.ActionsRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Libroservlet</servlet-name>
        <url-pattern>/Libroservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaxd</servlet-name>
        <url-pattern>/listaxd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroControl</servlet-name>
        <url-pattern>/LibroControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Libroslista</servlet-name>
        <url-pattern>/Libroslista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lautor</servlet-name>
        <url-pattern>/Lautor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibro</servlet-name>
        <url-pattern>/AddLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BLXAutor</servlet-name>
        <url-pattern>/BLXAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibro2</servlet-name>
        <url-pattern>/AddLibro2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAutor</servlet-name>
        <url-pattern>/AddAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoria</servlet-name>
        <url-pattern>/AddCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCat</servlet-name>
        <url-pattern>/ListaCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstudiante</servlet-name>
        <url-pattern>/ListarEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEstudiante</servlet-name>
        <url-pattern>/AddEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTotal</servlet-name>
        <url-pattern>/ListaTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletarCat</servlet-name>
        <url-pattern>/CompletarCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEstudiante</servlet-name>
        <url-pattern>/EditarEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesRegistrosEstudiantes</servlet-name>
        <url-pattern>/AccionesRegistrosEstudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionsRegistro</servlet-name>
        <url-pattern>/ActionsRegistro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
