
@import url(login.css);
*{
    margin: 0;
    box-sizing: border-box;
}
.header1{
 background-color: #ffffff;
 width: 100%;
    color: #4d4d4d;
        min-height: 50px;
        height: 50px;
    margin: 0;
    z-index: 1000;
    border-radius: 0;
    border: 0;
    position: fixed; 
    cursor:pointer;
}

@media screen and (min-width: 768px)
.header1 {
    position: relative;
    cursor:pointer;
}
#biblioverde{
    
    background-color: #2dcb73;
        width: 220px;
    height: 50px;
    float: left;
    position: relative;
    color: #c0efd5;
    cursor:pointer;
}
#letras1{
    color: #c0efd5;
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    cursor:pointer;
}
#ibiblio{
    margin-right: 5px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    cursor:pointer;

}
a{
    text-decoration: none;
    transition: 0.25s;
    
    color: black;
}

@media (min-width: 768px)
.hora {
    display: block!important;
    height: auto!important;
    overflow: visible!important;
    width: auto;
    border-top: 0;
    box-shadow: none;
    cursor:pointer;
}

@media (min-width: 768px)
.horaul {
    float: left;
    margin: 0;
}
.hora{
    padding: 0!important;
    float: left!important;
    max-height: 340px;
    
    }
.horaul{
        margin: 0;
        padding-left: 0;
    list-style: none;
    }
 ul {
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
@media (min-width: 768px)
.hora>li {
    float: left;
}
.hora>li {
    position: relative;
    display: block;
}
.adere {
        padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    padding: 15px 15px;
    transition: 0.25s;   
}

.adere2:hover {
    background: #DBDBDB  ;
}
.adere3:hover {
    background: #DBDBDB  ;
}
.adere2 {

    position: relative;
    display: block;
    padding: 15px 15px;
    transition: 0.25s;   
    margin: 0;
    height: 50px;

}
.adere3 {
    margin: 0;
    position: relative;
    display: block;
    padding: 15px 15px;
    transition: 0.25s;   
    height: 50px;
}
@media (min-width: 768px)
.adminul:last-child {
    margin-right: -15px;
    float: right!important;
}
@media (min-width: 768px)
.cerrarul:last-child {
    margin-right: -15px;
    float: right!important;
}
.adminul{
    list-style: none;  
    float: left;
}
.cerrarnul{
list-style: none;  
    float: right;

}
.parteder{
    float: right;
    height: 50px;
    margin: 0;
}

.divis {
  border-color: #aaaaaa;
   border-width: 1px;
   border-style: solid;
  
}

@media screen and (min-width: 768px)
.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 768px)
.layout>aside1 {
    float: left;
    height: 100%;
    position: relative;
}
.aside1{
       background-color: #535a6c;
    color: #cbced3;
    width: 220px;
}
    
.nav1{  
        top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    position: fixed;
display: block;
background-color: #535a6c;
   width: 220px;
   height: 100%;
    
}
.nav1 ul{
     list-style: none;
     padding: 0;
}
.nav1 ul > li > a {
    display: block;
    padding: 16px 15px;
    text-decoration: none;
    color: #cbced3;
   }
   .nav1 ul > li > a:hover {
 background: #535a7c;
   }
  
   .icono{
       width: 30px; 
       height: 20px;
       padding-right: 10px;
    min-width: 25px;
    text-align: center;
   }
